.comments{
   border: none;
   display: flex;
   outline: none;
   border-radius: 14px;
   background-color: #f0f2f5;
   align-items: center;
   width: 90%;
   padding-left: 10px
}
*:focus {
   outline: none;

}
